table {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
thead{
    border: 1px solid black;
}

