<table>
  <thead *ngIf="showHide">
      <tr>
          <th attr.colspan="{{column}}">
              Employee Details
          </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngIf="showHide">
          <td>First Name</td>
          <td>{{firstName}}</td>
      </tr>
      <tr *ngIf="showHide">
          <td>Last Name</td>
          <td>{{lastName}}</td>
      </tr>
      <tr *ngIf="showHide">
          <td>Gender</td>
          <td>{{gender}}</td>
      </tr>
      <tr *ngIf="showHide">
          <td>Age</td>
          <td>{{age}}</td>
      </tr>
  </tbody>
</table>
<br>
<button class="btn btn-primary" on-click="showDetails()">{{showHide ?"Hide":"Show"}} Details</button>
<br>
<!-- <form>
<input type="text" attr.value = "{{firstName}}" required placeholder="Enter your FirstName">
<br>
<input type="text" attr.value = "{{lastName}}" required placeholder="Enter your LastName">
<br>
<input type="number" attr.value = "{{number}}" required placeholder="Enter your mobile number">
<br>
<input type="email" attr.value = "{{email}}"  required placeholder="Enter your email">
<br>
<button on-click="onClick()">Click Me</button>
</form> -->
<!-- tow way data binding....... -->
<!-- 1st Method -->
<!-- <input attr.value={{firstName}}> -->
<!-- <input bind-value='firstName'> -->
<input [(ngModel)]='firstName' (input)="onClick()">
<br>
You Entered : {{firstName}}
<br>
<br>
<button (click)="tableDetails()">{{showHiddentableDetails?"HIDE":"SHOW"}}TableDetails</button>
<table *ngIf="showHiddentableDetails">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>
            <th>Index</th>
            <th>isFirst</th>
            <th>isLast</th>
            <th>isEven</th>
            <th>isOdd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i= index;let isFirst=first;let isLast=last;let isEven=even;let isOdd=odd">
            <td>{{employee.code}}</td>
            <td>{{employee.name| uppercase}}</td>
            <td>{{employee.gender|lowercase}}</td>
            <td>{{employee.annualSalary| currency :'INR':'symbol-narrow':'1.3-3'}}</td>
            <td>{{employee.dateOfBirth | date:'dd/MM/yyyy'}}</td>
            <td>{{i}}</td>
            <td>{{isFirst}}</td>
            <td>{{isLast}}</td>
            <td>{{isEven}}</td>
            <td>{{isOdd}}</td>
        </tr>
        <tr *ngIf="!employees || employees.length == 0">
            <td colspan="5">Nothing to display</td>
        </tr>
    </tbody>
</table>
<button (click)=getEmployeeDetails()>Refresh</button>
<br>
<input [(ngModel)]="register.name"><br>
<input [(ngModel)]="register.mobileno"><br>
<input [(ngModel)]="register.department"><br>
<button (click)="getUser()">Get User</button><br>
<input [(ngModel)]="register.name"><br>
<input [(ngModel)]="register.mobileno"><br>
<input [(ngModel)]="register.department"><br>
<button (click)="registerUser()">Register User</button><br>
<label>{{register.name}}</label><br>
<label>{{register.mobileno}}</label><br>
<label>{{register.department}}</label><br>
<button class="btn btn-primary">Submit</button>